/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-dic-2021, 12:19:26
    Author     : rcane
*/
@font-face {
  font-family: starWars;
  src: url(src/StarJediHollow-A4lL.woff);
}
@font-face {
  font-family: starWars2;
  src: url(src/StarJedi-DGRW.woff);
}
.neon_button{
    margin-bottom: 5vh;
    width: 20vh;
    min-width: 100px;
    height: 3vh; 
    min-height: 30px;
    font-size: 1em;
    background-color: hsl(323 21% 16%);
    color: hsl(317 100% 54%);
    border: hsl(317 100% 54%) 0.2em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    /* Efecto de brillo de texto*/
    text-shadow: 
    0 0 0.25em hsl(0 0% 100% / 0.5),
    0 0 0.45em currentColor;
    /* Efecto de brillo de caja */
    box-shadow: 
    inset 0 0 0.5em 0 hsl(317 100% 54%),
    0 0 0.5em 0 hsl(317 100% 54%);
    position: relative;
}
.neon_button::before{
    content: "";
    position: absolute;
    background-color: hsl(317 100% 54%);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    /* Convertimos la caja con transform */
    transform: perspective(2em) rotateX(40deg) scale(1, 0.45);
    filter: blur(1em);
    opacity: 1;
}
.neon_button:hover/* , .neon_button:focus */{
    cursor: pointer;
    background-color: hsl(317 100% 54%);
    color: hsl(323 21% 16%);
    text-shadow: none;
}


body{
    background: url(src/img/fondo.png) center center fixed no-repeat;
    background-size: 100% 100%; 
    display:grid;
    
}
.contenedor{
    text-align: center;
}
.contenedor>h1{
    font-family: starWars2;
    color:red;
}
.contenedor>p{
    font-family: fantasy;
    color: yellow;
    
}
.img{
    height: 30vh;
}
.img>img{
    width: 100%
}
.publi{
    display: flex;
    min-height: 100px;
    height: 10vh;
    justify-content: space-between;
    width: 100%
}
.publi>p{
    display: inline;
    font-size: larger;
    font-weight: bold;
    color: yellow;
}
#star{
    font-family: starWars2;
    margin-left: 10px
}